*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(19, 19, 19);
}
.search{
    
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    height:2rem;
    width:12rem;
    cursor:pointer;
    /* scale:1.1; */
    border:2px solid black;
    background-color: aliceblue;

}
#value{
    width:10rem;
    border: none;
    outline: none;
    background: transparent;
    /* color: black; */
    /* text-transform: capitalize; */
   

}
.middle{
    text-align: center;
    color:red;
}
.single{
     display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
          
}

.card{
    width:25rem;
  
  
          
}

@media (max-width:400px){
    .card{
        width:21rem;
        margin-bottom: 0.5rem;
    }
    .single{
        width: 100%;
        /* margin:  0  0.9rem; */
        padding: 0 1rem;
       
    }
        

}